@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bagel+Fat+One&family=Baloo+2:wght@400..800&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset styles */
* {
  &:before,
  &:after,
  & {
    box-sizing: inherit;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  @apply font-baloo font-bold text-sm 
}

h2 {
  @apply  font-baloo font-bold text-sm text-black
}

p {
  @apply font-baloo text-xs 
}

.btn-primary{
  @apply bg-black text-white font-baloo font-bold px-4 py-2 rounded-md text-xs md:text-sm
}

.btn-secondary{
  @apply bg-customBlue text-white font-baloo font-bold px-4 py-3 rounded-md text-xs md:text-sm
}

.btn-yellow{
  @apply bg-customDYellow text-black shadow-md font-baloo font-bold px-4 py-3 rounded-md text-xs md:text-sm hover:bg-customLBlue
}
